.leafletMain_div {
    /* text-align: center; */
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* margin-bottom: auto; */
    position:sticky;
    height: 100%;
    width: 100%;
  }
  
  /* .leafletmap {
    margin-bottom: 30px;
  } */